
.board {
	background: #ccc url(https://static.pexels.com/photos/7640/pexels-photo.jpg) 0/cover no-repeat;
	padding: 30px;
	width: 70%;
	max-width: 1200px;
	margin: 0 auto;
	text-align: center;
}
.board:before, .board:after  {
	content: '';
	display: table;
	clear: both;
}
.board > h1 {
	color: #fff;
	text-shadow: 2px 2px 2px black;
} 
.column-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: stretch;
}

.column {
	background: rgba(0, 0, 0 , 0.5);
	display: inline-block;
	min-width: 300px;
	min-height: 300px;
	border-radius: 5px;
	margin-top:20px;
	box-shadow: 2px 2px 5px black;
	color: #fff;
	position: relative;
}
.card-placeholder {
	border: 1px dashed #fff;
	height: 50px;
}
.column-card-list {
	min-height: 100px;
	list-style-type: none;
	margin: 0;
	padding: 20px;
}
.card {
	background: rgba(255, 255, 255, 0.7);
	color: #000;
	height: 50px;
	line-height: 50px;
}
.btn-delete {
	position: absolute;
	color: #fff;
	background: transparent;
	top: 10px;
	right: 10px;
}
.create-column {
	width: 100px;
	height: 40px;
	border-radius: 10px;
	color: #222;
	background: rgba(255, 255, 255, 0.7);
}
.add-card {
	color: #fff;
	background: transparent;
	border-radius: 10px;
	width: 100px;
	height: 30px;
}
.btn-delete-card {
	float: right;
	background: transparent;

}
