#carousel {
	width: 400px;
	height: 250px;
	border: 1px solid black;
	overflow: hidden;
	margin: 0 auto;
	position: relative;
}

#carousel ul {
	margin: 0;
	padding: 0;
	width: 2000px;
	list-style-type: none;
}
#carousel ul li {
	width: 400px;
	height: 250px;
	float: left;
	position: relative;
}
#carousel ul li button {
	width: 10px;
	height: 10px;
	border-radius: 50px;
	position: absolute;
}
.carousel-buttons {
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	top:240px;

}
.slider {
	width: 15px;
	height: 15px;
	border-radius: 50px;
	border: none;
	background: #ccc;
}
#forward, #back {
	position: absolute;
	width: 40px;
	height: 40px;
	background: transparent;
	top: 100px;
	border: none;
	border-top: 3px solid #000;
}
#forward {
	right: 20px;
	transform: rotate(45deg);
	border-right: 3px solid #000;
}

#back {
	left: 20px;
	transform: rotate(-45deg);
	border-left: 3px solid #000;
}
.active {
 background: #000;
}